.addTask {
    display: none;
    flex-direction: column;
}

.addTaskForm h2 {
    font-size: 16px;
    color: #1e3190;
}

.addTaskForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #f4f3fb;
    border-radius: 8px;
    padding: 16px;
}

.addTaskTitle {
    display: flex;
    justify-content: space-between;
}

.addTaskTitle input {
    width: 228px;
    height: 38px;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    padding: 0px;
}

.addTask h1 {
    font-size: 20px;
    color: rgb(39, 39, 39);
    text-align: center;
}

.addTaskTitle h2,
.addTaskCategory h2,
.description h2 {
    text-align: left;
    margin: 0px;
    margin-bottom: 6px;
}

.dueDate {
    margin-left: 16px;
}

.addTaskCategory {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.addTaskCategory select {
    width: 230px;
    height: 40px;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    background-color: white;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.descriptionBox input {
    width: 228px;
    height: 80px;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    padding: 0px;
}

.avatarContainer {
    margin-left: 16px;
}

.avatarContainer {
    width: 230px;
}


.avatarContainer button {
    background-color: #1e3190;
    color: white;
    border-radius: 6px;
    border: none;
    width: 90px;
    cursor: pointer;
}

.avatarAddTask {
    display: flex;
    flex-wrap: wrap;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    background-color: white;
}


.avatarAddTask img {
    width: 32px;
    height: 32px;
    border: 2px solid rgb(171, 171, 171);
    background-color: white;
    border-radius: 50px;
}

.avatarAddTask img:hover {
    width: 32px;
    height: 32px;
    border: 2px solid rgb(30 49 144);
    border-radius: 50px;
}

.avatarAddTask a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.avatarAddTaskToggle {
    border: 2px solid #1e3190 !important;
}


.checkbox_round {
    /* position: fixed; */
    width: 140px;
    height: 1px;
    background-color: #ffffff00;
    /* border-radius: 50%;
    vertical-align: middle; */
    /* border: 2px solid #ddd; */
    /* appearance: none; */
    -webkit-appearance: none;
    outline: none;
    /* cursor: pointer; */
}

/* .checkbox_round:checked {
    border: 2px solid rgb(115, 115, 115);
} */