.addTask {
    display: none;
    flex-direction: column;
}

.addTaskForm h2 {
    font-size: 16px;
    color: #1e3190;
}
.bkg-addTask{
    background-image: url(../img/tasks.jpg);
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    opacity: 0.6;
}

.addTaskForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #f4f3fb94;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 0px 2px 1px #505050;
}

.addTaskTitle {
    display: flex;
    justify-content: space-between;
}

.addTaskTitle input {
    width: 222px;
    height: 38px;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #757575;
}

.addTask h1 {
    font-size: 20px;
    color: rgb(50 50 50);
    margin-bottom: 8px;
}

.addTask h4 {
    font-size: 14px;
    color: #1e3190;
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 500;
}

.addTaskTitle h2,
.addTaskCategory h2,
.description h2 {
    text-align: left;
    margin: 0px;
    margin-bottom: 6px;
}

.dueDate {
    margin-left: 16px;
}

.addTaskCategory {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.addTaskCategory select {
    width: 230px;
    height: 40px;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    background-color: white;
    outline: none;
    font-size: 16px;
    color: #757575;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.descriptionBox textarea {
    width: 222px;
    height: 140px;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
}

.avatarContainer {
    margin-left: 16px;
}

.avatarContainer {
    width: 230px;
}

.btnContainer {
    width: 230px;
    display: flex;
    justify-content: flex-end;
}

.avatarContainer button {
    background-color: #1e3190;
    color: white;
    border-radius: 6px;
    border: none;
    width: 90px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
}

.avatarAddTask {
    display: flex;
    flex-wrap: wrap;
    border: 1.4px solid #d4d4d4;
    border-radius: 3px;
    background-color: white;
}


.avatarAddTask img {
    width: 32px;
    height: 32px;
    border: 2px solid rgb(171, 171, 171);
    background-color: white;
    border-radius: 50px;
}

.avatarAddTask img:hover {
    width: 32px;
    height: 32px;
    border: 2px solid rgb(30 49 144);
    border-radius: 50px;
}

.avatarAddTask a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.avatarAddTaskToggle {
    border: 2px solid #1e3190 !important;
}

.checkbox_round {
    width: 140px;
    height: 1px;
    background-color: #ffffff00;
    -webkit-appearance: none;
    outline: none;
}

@media (max-width: 550px) {

    .distributor{
        margin-top: 100px
    }

    .addTaskTitle,
    .addTaskCategory,
    .description {
        flex-direction: column;
    }

    .addTaskForm {
        width: auto;
    }

    .dueDate,
    .avatarContainer {
        margin: 0px;
    }

    .addTaskTitle h2,
    .addTaskCategory h2,
    .description h2 {
        margin-top: 12px;
    }

    .addTask {
        margin-bottom: 12px;
    }
}