.addTask {
    display: none;
    flex-direction: column;
}

.avatarAddTask img {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(171, 171, 171);
    background-color: rgb(170, 232, 212);
    border-radius: 50px;
}

.avatarAddTask img:hover {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: rgb(170, 232, 212);
    border-radius: 50px;
}