.backlog {
    display: none;
    flex-direction: column;
    margin: 16px;
    width: 100%;
}

.headlineBacklog h2 {
    font-size: 16px;
    margin: 16px;
    width: 110px;
    text-align: center;
}

.backlogTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    width: 80px;
}

.backlogAssignedTo,
.backlogCategory,
.backlogDetails {
    width: 140px;
    background-color: #ececec;
    border-radius: 8px;
}

.avatarPicTitle {
    display: flex;
    align-items: center;
}

.headlineBacklog {
    display: flex;
    justify-content: space-between;
}

.placeholderBacklogLeft {
    width: 89px;
}

.placeholderBacklogRight {
    width: 100px;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #767676;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 8px;
}

.task h2,
.backlogDetails p {
    font-size: 16px;
    margin: 8px;
    text-align: center;
    font-weight: 500;
}

.btnBacklog {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #1e3190;
    color: white;
    margin: 1px;
    width: 100px;
}

.backlogImg {
    width: 24px;
    height: 24px;
    border: 1px solid #4e4e4e;
    border-radius: 50px;
    background-color: white;
}