.backlog {
    display: none;
    flex-direction: column;
    margin: 16px;
    /* width: 100%; */
    width: 900px;
}

.headlineBacklog h2 {
    font-size: 16px;
    margin: 16px;
    width: 110px;
    text-align: center;
    color: rgb(50 50 50);
}

.backlogTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    width: 80px;
}

.backlogAssignedTo,
.backlogCategory,
.backlogDetails {
    width: 140px;
    background-color: #ffffff73;
    border-radius: 8px;
}

.avatarPicTitle {
    display: flex;
    align-items: center;
}

.headlineBacklog {
    display: flex;
    justify-content: space-between;
    background-color: #b0baeb;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 12px;
}

.placeholderBacklogLeft {
    width: 92px;
}

.placeholderBacklogRight {
    width: 107px;
}

.task {
    display: flex;
    justify-content: space-between;
    border: 1.6px solid #cbcbcb;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 6px 2px;
    transition: all 125ms linear;
}

.task:hover {
    transform: scale(1.01);
    transition: all 125ms linear;
}

.task h2,
.backlogDetails p {
    font-size: 16px;
    margin: 8px;
    text-align: center;
    font-weight: 500;
}

.btnBacklog {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #1e3190;
    color: white;
    width: 100px;
    margin-right: 4px;
}

.btnBacklog:hover {
    background-color: #34459a;
}

.backlogImg {
    width: 24px;
    height: 24px;
    border: 1px solid #4e4e4e;
    border-radius: 50px;
    /* background-color: white; */
    background-color: #ffffff73;
}

@media (max-width: 650px) {
    .headlineBacklog {
        flex-direction: column;
    }

    .headlineBacklog h2 {
        width: auto;
    }

    .task {
        flex-direction: column;
        align-items: center;
    }

    .backlogTitle {
        flex-direction: row;
        width: auto;
    }

    .backlogAssignedTo,
    .backlogCategory,
    .backlogDetails {
        margin-bottom: 8px;
    }

    .btnBacklog {
        height: 32px;
    }
}