.backlog {
    display: none;
    flex-direction: column;
    margin: 16px;
    width: 100%;
}

.backlog h2 {
    font-size: 16px;
    margin: 16px;
}

.backlogTitle{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.headlineBacklog {
    display: flex;
    justify-content: space-evenly;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border: 1px solid #767676;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 8px;
}

.task h2 {
    margin: 8px;
}

.btnBacklog {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #1e3190;
    color: white;
    margin: 1px;
}

.backlogImg{
    width: 32px;
    height: 32px;
}