.backlog {
    display: none;
    flex-direction: column;
    width: 100%;
}

.backlog h2 {
    font-size: 16px;
}

.headlineBacklog {
    display: flex;
    justify-content: space-evenly;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
}

.btnBacklog {
    cursor: pointer;
}