.board {
    display: none;
    flex-direction: column;
    width: 100%;
}

h2 {
  
    margin-left: 92px;
    margin-right: 92px;
}

.headlineBoard {
    text-align: center;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;

}
.section-two{
    display: flex;
    justify-content: space-around;

}
.colum {

    height: 50vh;
    width: 200px;
    background-color: rgb(173, 168, 168);
    
   
}
.toDo{
    background-color: aqua;
}
