.board {
    display: none;
    flex-direction: column;
    width: 100%;
}

.headlineBoard {
    text-align: center;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;

}

.boardContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
}

.toDoPage,
.inProgressPage,
.testingPage,
.donePage {
    width: 24%;
}

.trashPage {
    width: 100%;
    margin: 16px;
}

.boardContainer h2 {
    font-size: 16px;
}


/* .note {
    background-color: beige;
    border: 1px solid black;
    margin-bottom: 6px;
} */

.trashContainer {
    display: flex;
    justify-content: center;
}

.column {
    /* width: 150px; */
    background-color: rgb(224, 224, 224);
    height: 100%;
    padding: 8px;
    border-radius: 8px;
}

.note h2 {
    margin: 0px;
    font-size: 16px;
}

.boardTask {
    border: 1.6px solid #cbcbcb;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    transition: all 125ms linear;
}

.boardTask:hover {
    transform: scale(1.02);
    transition: all 125ms linear;
}

.box_Highlight {
    background-color: rgb(199 199 199);
}

.paperBinImg img {
    width: 24px;
    height: 24px;
    border: 1.4px solid rgb(128, 128, 128);
    border-radius: 4px;
}

.paperBinImg img:hover {
    border: 1.4px solid #1e3190;
}