.board {
    display: none;
    flex-direction: column;
    /* width: 100%; */
    width: 900px;
    margin-top: 157px;
    margin-left: 16px;
    
}

.background{
    background-image: url(../img/board.jpg);
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    }

.headlineBoard {
    text-align: center;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;

}

.boardContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
}

.toDoPage,
.inProgressPage,
.testingPage,
.donePage {
    /* width: 24%; */
    width: 160px;

    background-color: rgb(224, 224, 224);
    height: 100%;

    border-radius: 8px;
}

.toDoPage,
.inProgressPage,
.testingPage {
    margin-right: 8px;
}


.trashPage {
    width: 100%;
    margin: 16px;
}

.boardContainer h2 {
    font-size: 16px;
}


/* .note {
    background-color: beige;
    border: 1px solid black;
    margin-bottom: 6px;
} */

.trashContainer {
    display: flex;
    justify-content: center;
}

.column {
    /* width: 150px; */
    padding: 8px;
    background-color: rgb(224, 224, 224);
    height: calc(100% - 50px);
    /* padding: 8px; */
    border-radius: 8px;
    min-height: 50vh;
}

.toDoPageH2,
.inProgressPageH2,
.testingPageH2,
.donePageH2,
.trashPageH2 {
    background-color: #b0baeb;
    margin: 0px 0px 12px 0px;
    padding: 12px 0px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.titleBoard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.createAt {
    font-size: 12px !important;
    text-align: end;
}

.categoryBoard {
    background-color: #ffffff6e;
    text-align: center;
    border: 1px solid #646464;
    border-radius: 4px;
    margin-bottom: 8px !important;
}

.note p {
    margin: 0px 0px 8px 0px;
    font-size: 16px;
}

.note h3 {
    margin: 0px;
    font-size: 10px;
    font-weight: 500;
    background-color: #ffffff75;
    text-align: center;
    border-radius: 2px;
}

.titleBoardFirst {
    width: 28px;
}

.titleBoardSecond {
    width: 56px;
}

.note h2 {
    margin: 0px;
    font-size: 16px;
    /* margin-bottom: 6px; */
    font-weight: 500;
}



.boardTask {
    border: 1.6px solid #cbcbcb;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    transition: all 125ms linear;
}

.boardTask:hover {
    transform: scale(1.02);
    transition: all 125ms linear;
}

.box_Highlight {
    border-radius: 8px;
    background-color: rgb(199 199 199);
}

.paperBinImg {
    text-align: end;
}

.paperBinImg img {
    width: 20px;
    height: 20px;
    border: 1.4px solid rgb(128, 128, 128);
    border-radius: 4px;
    background-color: #ffffff73;
    transition: all 125ms linear;
}

.paperBinImg img:hover {
    border: 1.4px solid #1e3190;
    transform: scale(1.2);
    transition: all 125ms linear;
}

.avatarContainerBoard {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.avatarContainerBoard img {
    margin-right: 6px;
}

.avatarContainerBoard h2 {
    margin: 6px 6px 0px 0px;
    font-size: 10px;
}

.avatarPicTitleBord {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 720px) {
    .boardContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .toDoPage,
    .inProgressPage,
    .testingPage,
    .donePage {
        /* width: auto; */
        margin: 8px;
    }

    .column {
        height: auto;
    }
}