.howTo {
    display: none;
}

.HowToCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HowToCenter li {
    color: whitesmoke;
    margin: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
}

.main hr {


}

.main {
    margin: 0;
    background-image: url("../img/board-bg.jpg");
    z-index: 30000;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.blockCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2Color {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.BGcolor {
    width: 100vw;

    z-index: -3;
    background-color: rgba(0, 0, 0, 0.9444);
}

li ol {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

@media only screen and (max-width: 1100px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


    .descriptionImg1 img{
        width: 700px;
        height: 480px;

    }

    .descriptionImg2 img{
        width: 700px;
        height: 280px;

    }

    .descriptionImg3 img{
        width: 750px;
        height: 400px;

    }


}


@media only screen and (max-width: 600px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


    .descriptionImg1 img{
        width: 500px;
        height: 350px;

    }

    .descriptionImg2 img{
        width: 500px;
        height: 180px;

    }

    .descriptionImg3 img{
        width: 500px;
        height: 280px;

    }


}