.howTo {
    display: none;
}

.HowToCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.HowToCenter li {
    color: whitesmoke;
    margin: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* .main {






} */

.BGHowTo{
    background-image: url("../img/board-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -100;

}

.blockCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2Color {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


li ol {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

@media only screen and (max-width: 1100px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-bottom: 100px;
    }


    .descriptionImg1 img {
        width: 700px;
        height: 480px;

    }

    .descriptionImg2 img {
        width: 700px;
        height: 300px;

    }

    .descriptionImg3 img {
        width: 750px;
        height: 400px;

    }

    .h2Color {
        text-align: center;
        font-size: 35px;
        margin-bottom: 70px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


}


@media only screen and (max-width: 800px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-bottom: 100px;
    }


    .descriptionImg1 img {
        width: 300px;
        height: 210px;

    }

    .descriptionImg2 img {
        width: 300px;
        height: 130px;

    }

    .descriptionImg3 img {
        width: 300px;
        height: 168px;
        margin-bottom: 50px;
    }

    .h2Color {
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


}

@media only screen and (max-width: 300px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: smaller;
        margin-bottom: 100px;
    }


    .descriptionImg1 img {
        width: 200px;
        height: 138px;

    }

    .descriptionImg2 img {
        width: 200px;
        height: 87px;

    }

    .descriptionImg3 img {
        width: 200px;
        height: 112px;
        margin-bottom: 50px;
    }

    .h2Color {
        text-align: center;
        font-size: 20px;
        margin-bottom: 40px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: medium;
    }


    li ol {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: x-small;
    }

}