.howTo {
    display: none;
}

.HowToCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.HowToCenter li {
    color: whitesmoke;
    margin: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}




.main {
    margin: 0;
    background-image: url("../img/board-bg.jpg");
    z-index: 30000;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.blockCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2Color {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.BGcolor {
    width: 100vw;

    z-index: -3;
    background-color: rgba(0, 0, 0, 0.9444);
}

li ol {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

@media only screen and (max-width: 1100px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-bottom: 100px;
    }


    .descriptionImg1 img{
        width: 700px;
        height: 480px;

    }

    .descriptionImg2 img{
        width: 700px;
        height: 300px;

    }

    .descriptionImg3 img{
        width: 750px;
        height: 400px;

    }

    .h2Color {
        text-align: center;
        font-size: 35px;
        margin-bottom: 80px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


}


@media only screen and (max-width: 800px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-bottom: 100px;
    }


    .descriptionImg1 img{
        width: 300px;
        height: 210px;

    }

    .descriptionImg2 img{
        width: 300px;
        height: 130px;

    }

    .descriptionImg3 img{
        width: 300px;
        height: 168px;
        margin-bottom: 50px;
    }
    .h2Color {
        text-align: center;
        font-size: 30px;
        margin-bottom: 80px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


}

@media only screen and (max-width: 300px) {

    .HowToCenter {
        flex-direction: column;
        color: whitesmoke;
        margin: 20px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: smaller;
        margin-bottom: 100px;
    }


    .descriptionImg1 img{
        width: 150px;
        height: 105px;

    }

    .descriptionImg2 img{
        width: 150px;
        height: 65px;

    }

    .descriptionImg3 img{
        width: 150px;
        height: 84px;
        margin-bottom: 50px;
    }
    .h2Color {
        text-align: center;
        font-size: 20px;
        margin-bottom: 80px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


}