.navMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e3190;
}

.navMenuLogo {
    height: 40px;
    margin-left: 16px;
}

.menuLink {
    color: white;
    text-decoration: none;
    margin: 0px 16px;
}

.searchContainer{
    display: flex;
    align-items: center;
    width: 220px;
    height: 32px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #999999;

}
.searchTitle {
    display: none;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.searchContainer img{
    width: 24px;
    height: 24px;
    margin: 0px 6px;
}

#paperBin {
    display: none;
}

.paperBin {
    width: 32px;
    height: 32px;
    background: #dcdcdc;
    border-radius: 6px;
    margin-right: 16px;
}

.navBarImg {
    width: 32px;
    height: 32px;
    background: #dcdcdc;
    border-radius: 6px;
    margin-right: 16px;
}

.regulations {
    display: flex;
}

.d-none {
    display: none !important;
}