.navMenu {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e3190;
}

.navMenuLogo {
    height: 40px;
    margin-left: 16px;
}

.menuLink {
    color: white;
    text-decoration: none;
    margin: 0px 16px;
    transition: all 125ms linear;
}

.menuLink:hover {
    transition: all 125ms linear;
    transform: scale(1.04);
    text-decoration: underline;
}

.menuSelection {
    display: flex;
}

.searchContainer {
    display: none;
    align-items: center;
    width: 220px;
    height: 32px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #999999;

}

.searchTitle {
    display: flex;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.searchContainer img {
    width: 24px;
    height: 24px;
    margin: 0px 6px;
}


.toggle {
    display: flex;
}

.toggle a {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

#paperBin {
    display: none;
}

.paperBin {
    width: 32px;
    height: 32px;
    background: #dcdcdc;
    border-radius: 6px;
}

.navBarImg {
    width: 32px;
    height: 32px;
    background: #dcdcdc;
    border-radius: 6px;
}

.regulations {
    display: flex;
}

.d-none {
    display: none !important;
}

@media (max-width: 520px) {

    .menuSelection,
    .regulations {
        flex-direction: column;
    }

    .navMenu {
        height: 100px;
    }

}