.navMenu {
    display: flex;
    flex-direction: column;
    align-content : space-between
    width: 150px;
    height: 100vh;
    background-color: blue;
}

.menuLink {
    color: white;
    text-decoration: none;
}