
body {
    margin: 0;
    font-family: 'PT Sans';
}

h2{
    color: rgb(35 35 35);
}

.distributor {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

/* .d-none{
    display: none;
} */

