<h1>Task Management</h1>
<input id="title" placeholder="Management meeting preparation">
<input id="description" placeholder="Aufgabe">
<select id="category" placeholder="Management">
    <option>Marketing</option>
    <option>Development</option>
    <option>Design</option>
</select>
<select id="urgency" placeholder="urgency" >
    <option>High</option>
    <option>Normal</option>
    <option>Low</option>
</select>
<input id="datePicker" type="date" min="2022-28-06">
<div class="avatarAddTask" id="renderAvatar">
</div>
<button onclick="addTask()">Hinzufügen</button>