<h2>Board</h2>
<div class="headlineBoard">
    <h2>TO DO</h2>
    <h2>IN PROGRESS</h2>
    <h2>TESTING</h2>
    <h2>DONE</h2>
</div>


<div>
<div class="section-two">
    <div id="toDo">
        <div draggable="true" ondragstart="startDragging() ,allowDrop()" class="colum">TEST</div>
    </div>
    <div id="inProgress">
        <div draggable="true" ondragstart="startDragging() ,allowDrop()" class="colum"></div>
    </div>
    <div id="testing" >
        <div draggable="true" ondragstart="startDragging() ,allowDrop()" class="colum"></div>
    </div>
    <div id="done">
        <div draggable="true" ondragstart="startDragging() ,allowDrop()" class="colum"></div>
    </div>
   
</div>


</div>



</div>