<div id="boardContainer" class="boardContainer">

    <div id="toDoPage" class="toDoPage">
        <h2 class="toDoPageH2">TODO</h2>
        <div class="column" id="toDo" ondrop="moveTo('toDo')" ondragleave="removeHighlight('toDo')"
            ondragover="allowDrop(event); highlight('toDo')"></div>
    </div>

    <div id="inProgressPage" class="inProgressPage">
        <h2 class="inProgressPageH2">IN PROGRESS</h2>
        <div class="column" id="inProgress" ondrop="moveTo('inProgress')" ondragleave="removeHighlight('inProgress')"
            ondragover="allowDrop(event); highlight('inProgress')">
        </div>
    </div>

    <div id="testingPage" class="testingPage">
        <h2 class="testingPageH2">TESTING</h2>
        <div class="column" id="testing" ondrop="moveTo('testing')" ondragleave="removeHighlight('testing')"
            ondragover="allowDrop(event); highlight('testing')"></div>
    </div>

    <div id="donePage" class="donePage">
        <h2 class="donePageH2">DONE</h2>
        <div class="column" id="done" ondrop="moveTo('done')" ondragleave="removeHighlight('done')"
            ondragover="allowDrop(event); highlight('done')"></div>
    </div>

</div>

<div id="trashContainer" class="trashContainer d-none" >

    <div id="trashPage" class="trashPage">
        <h2>TRASH</h2>
        <div class="column" id="trash" ondrop="moveTo('trash')" ondragleave="removeHighlight('trash')"
            ondragover="allowDrop(event); highlight('trash')"></div>
    </div>

</div>

