<section class="copyRightContainer">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Icons und Bilder auf dieser Seite stammen aus folgenden Quellen:</span>
                <br><br>
                <b>Pexels</b>
                <br>
                <a target="_blank" href="https://www.pexels.com/">pexels.com</a>
                <br><br>
                <b>Icons8</b>
                <br>
                <a target="_blank" href="https://icons8.de/">icons8.de</a>
            </div>
        </div>
    </div>
</section>