<div class="BGHowTo">

</div>
<div class="BGcolor">
    <div class="main">

        <h2 class="h2Color">How to add a new Task</h2>

        <div class="HowToCenter">

            <div class="descriptionImg1">
                <img src="img/AddTask.jpg" width="700" height="480">
            </div>
            <ol>
                <li>First add the Title to your task </li>
                <li>Choose your Category</li>
                <li>Add the description</li>
                <li>Pick your date</li>
                <li>Select Urgency of your task</li>
                <li>In this step you can assign your task to a user </li>
            </ol>
        </div>
        <hr>

        <h2 class="h2Color">What's the Backlog</h2>
        <div class="HowToCenter">

            <div class="descriptionImg2">
                <img src="img/Backlog-how-to.jpg" width="840" height="336">
            </div>

            <ol>
                <li>Here a detailed overview of all your tasks</li>

                <li>Stick your Note to the Board</li>


            </ol>
        </div>
        <hr>
        <div class="blockCenter">
            <h2 class="h2Color">Overview about the Board</h2>
            <div class="descriptionImg3">
                <img src="img/how-to-board.jpg" width="1100" height="600">
            </div>
        </div>
    </div>
</div>