
<div class="BGcolor">
<div class="main">

    <h2 class="h2Color">How to add a new Task</h2>

    <div class="HowToCenter">
        <img src="img/addTask.png" width="800" height="480">

        <ol>
            <li>At first you have to enter a Name to your task </li>
            <li>In the second window you have to enter a </li>
            <li>In the second window you have to enter a Title of your task </li>
            <li>Choose your Category</li>
            <li>Enter your task description</li>
            <li>Choose the due date</li>
            <li>You can choose the importance of your task</li>
            <li>In this step you can assign your task to a user </li>
        </ol>
    </div>
    <hr>
    <div class="blockCenter">
        <h2 class="h2Color">What's the Backlog</h2>

        <img src="img/backlog.png" width="1200" height="200">
    </div>
    <hr>

    <div class="blockCenter">
        <h2 class="h2Color">Overview about the Board</h2>

        <img src="img/boarderklaerung.png" width="1100" height="600" >
    </div>
</div>
</div>