<div class="navMenu">
    <a class="menuLink" onclick="menuLink('addTask')" href="#"><img class="navMenuLogo" src="./img/logo.png"></a>

    <div class="menuSelection" id="menuSelection">
        <a class="menuLink" onclick="menuLink('board'), updateHTML()" href="#">Board</a>
        <a class="menuLink" onclick="menuLink('backlog'), backlogList()" href="#">Backlog</a>
        <a class="menuLink" onclick="menuLink('addTask')" href="#">Add Task</a>
        <a class="menuLink" onclick="menuLink('howTo')" href="#">Help</a>
    </div>

    <!-- <div id="hideSearchTitle" class="searchContainer">
        <img src="./img/search.svg" alt="search">
        <input class="searchTitle" id="searchTitle" onkeyup="searchTitle()" type="text" placeholder="Search Title">
        <div class="searchOutput" id="outputSearch"></div>
    </div> -->

    <div class="regulations d-none" id="regulations">
        <a class="menuLink" onclick="menuLink('copyright')" href="#">Urheberrechte</a>
        <a class="menuLink" onclick="menuLink('imprint')" href="#">Impressum</a>
        <a class="menuLink" onclick="menuLink('privacy')" href="#">Datenschutz&shy;erklärung</a>
    </div>

    <div class="toggle">
        <div id="hidePaperBin">
            <a onclick="paperBin()" id="paperBin" href="#"><img class="paperBin" src="./img/paperBin.png"></a>
        </div>
        <a onclick="navBar()" href="#"><img class="navBarImg" src="./img/Menu.svg"></a>
    </div>

</div>